@import '../../globals.scss';

.button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: $color-font;
  color: $color-bg;

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    background-color: lighten($color-font, 10%);
  }
}
