@import '../../../../globals.scss';

.wrapper {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  border-bottom: 1px solid $color-font;
  @media screen and (max-width: $tablet) {
    gap: 20px;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }
}

.img {
  width: 150px;
  height: fit-content;
}
.heading {
  @media screen and (max-width: $mobile) {
    text-align: center;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  text-align: justify;
}
.boldText {
  font-weight: bold;
}
